.card-slot {
  width: 100px;
  height: 170px;
  border: 2px dashed #555;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slot-number {
  position: absolute;
  top: 5px;
  left: 8px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

#spread-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.side-staff {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.main-cross {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cross-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-stack {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 10px;
}

#slot-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

#slot-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
  margin: 0;
}
